*{
    padding: 0;
    margin: 0;
}
.left {
    position: relative;
    float: left;
    width: 22%;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.empbutton{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 50px;
    font-size: 15px;
    font-family: cursive;
    color: rgba(82, 76, 160, 0.863);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
}
.studbutton {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 50px;
    font-size: 15px;
    font-family: cursive;
    color: rgba(82, 76, 160, 0.863);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
}
.empbutton:active, .studbutton:active {
    color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.right {
    position: absolute;
    left: 22%;
    right: 0%;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-gap: 10px;
    border: solid rgba(0, 0, 255, 0.479);
    border-style: solid;
    border-width: 2px;
    background-color: white;
    padding: 15px;
}
.gcontainer {    
    padding: 20px;
    margin-left: 130px;
    margin-right: 150px;
}
.gheader {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    font-family: cursive;
    padding: 10px;
    color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.grid > div {
    display: grid;
    font-family: cursive;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(70, 43, 226, 0.103);
    grid-template-rows: 50px 10px;
    padding-top: 25px;
}
#action {
    background-color: white;
}
.edit {
    position: relative;
    width: 40%;
    left: 7%;
    top: 10px;
    height: 40px;
    color: blueviolet;
    font-family: cursive;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.delete {
    position: relative;
    font-family: cursive;
    font-size: 20px;
    left: 55%;
    bottom: 40px;
    width: 40%;
    height: 40px;
    color: blueviolet;
    cursor: pointer;
}
.edit:active {
    font-family: cursive;
    font-size: 20px;
    color: rgb(136, 22, 212);
    text-decoration: underline;
}
.delete:active {
    font-family: cursive;
    font-size: 20px;
    color: rgb(245, 8, 8);
    text-decoration: underline;
}
.heading {
    margin-top: 10px;
    margin-left: 12.5%;
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 3px;
    color: rgba(0, 0, 255, 0.479);
}
.addcontainer {
    padding: 2%;
    width: 29%;
    margin-top: 10px;
    bottom: 10px;
    background-color: rgba(70, 43, 226, 0.103);
    border: blue;
    border-style: solid;
    border-width: 1px;
    margin-left: 12.5%;
    border-radius: 10px;
    margin-top: 1.5%;
    height: 230px;
}
.name {
    height: 35px;
    width: 60%;
    border: blue;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    border-radius: 8px;
    margin-left: 4%;
    outline: none;
}
.area {
    margin-top: 10%;
    width: 60%;
    border: blue;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin-left: 6%;
    height: 35px;
    outline: none;
}
.id {
    margin-top: 10%;
    width: 60%;
    border: blue;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin-left: 10.5%;
    height: 35px;  
    outline: none;
}
.add {
    float: right;
    margin-top: 10%;
    position: relative;
    width: 80px;
    bottom: 15px;
    height: 40px;
    font-family: cursive;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.add:active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
label {
    font-size: 18px;
    font-family: cursive;
    color: rgb(0, 0, 0);
}